.punkList{
    cursor: pointer;
    display: flex;
    
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

.punkList  {
    -ms-overflow-style: none;  /* IE and Edge */
    overflow-x: scroll;
  }
